html{
    background-color: red;

}

.LoginC {
    border: solid 2px black;
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}
